<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budge</title>
    <link rel='shortcut icon' type='image/png' href='/img/favicon.png' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel=" stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="nav black">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">budge</a>
                <a href="#" id="menu" data-target="slide-out" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <br>
                    <div class="logo center">
                        <div class="brand-logo">
                            <object class="small-logo" data="/img/header-logo-white.png" type="image/png"></object>
                        </div>
                    </div>
                    <a href="#name"><span class="white-text name"><%=user.username%></span></a>
                    <a href="#budget"><span>later add total</span></a>
                </div>
            </li>
            <li>
                <a href="/payperiods/"><i class="material-icons">home</i>
                    HOME</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordian">
                    <li>
                        <a class="collapsible-header waves-effect waves-red">PAY PERIODS</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/payperiods/new"><i class="material-icons">create_new_folder</i>NEW PAY
                                        PERIOD</a></li>
                                <%payperiods.forEach((el) => {%>
                                <li>
                                    <a href="/payperiods/<%=el.id%>"><i
                                            class="material-icons">folder</i><%=el.startDate%> - <%=el.endDate%></a>
                                </li>
                                <%})%>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <a style="z-index: 2; background-color: white; width: 100%; position: fixed; bottom: 61px;" href="/">
                <form action="/sessions?_method=DELETE" method="POST">
                    <button class="btn-large waves-effect waves-light red" type="submit">LOG
                        OUT</button>
                </form>
            </a>
        </ul>
    </header>
    <form action="/payperiods/items" method="POST">
        <legend>Date</legend>
        <p>Enter the date of the transaction.</p>
        <label for="date">Date</label>
        <input autocomplete="off" placeholder="MM/DD/YYYY" style="color: black;" type="text" name="date" id="date">

        <legend>Amount</legend>
        <p>Enter the amount of the transaction.<br>NOTE: Use a minus for deductions.</p>
        <label for="amount">Amount</label>
        <input autocomplete="off" placeholder="0.00" style="color: black;" type="number" name="amount" id="amount">

        <legend>Note</legend>
        <p>Write a note to yourself to remember what this transaction was for.</p>
        <label for="note">Note</label>
        <input autocomplete="off" placeholder="[recurring] rent" style="color: black;" type="text" name="note"
            id="note">

        <input class="btn" type="submit" value="CREATE">
    </form>

    <script src="/js/materialize.min.js"></script>
    <script src="/js/sidenav.js"></script>
</body>

</html>