<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budge: new budget</title>
    <link rel='shortcut icon' type='image/png' href='/img/favicon.png' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel=" stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="nav black">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">budget</a>
                <a href="#" id="menu" data-target="slide-out" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <br>
                    <div class="logo center">
                        <div class="brand-logo">
                            <object class="small-logo" data="/img/header-logo-white.png" type="image/png"></object>
                        </div>
                    </div>
                    <a href="#name"><span class="white-text name"><%=user.username%></span></a>
                    <a href="#budget"><span>later add total</span></a>
                </div>
            </li>
            <li>
                <a href="/payperiods/"><i class="material-icons">home</i>
                    HOME</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordian">
                    <li>
                        <a class="collapsible-header waves-effect waves-red">PAY PERIODS</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a style="background-color:rgba(229,28,35,0.1);"><i
                                            class="material-icons">create_new_folder</i>NEW PAY
                                        PERIOD</a></li>
                                <%payperiods.forEach((el) => {%>
                                <li><a href="/payperiods/<%=el.id%>"><i
                                            class="material-icons">folder</i><%=el.startDate%> - <%=el.endDate%></a>
                                </li>
                                <%})%>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <a style="z-index: 2; background-color: white; width: 100%; position: fixed; bottom: 61px;" href="/">
                <form action="/sessions?_method=DELETE" method="POST">
                    <button class="btn-large waves-effect waves-light red" type="submit">LOG
                        OUT</button>
                </form>
            </a>
        </ul>
    </header>

    <body>
        <form action="/payperiods" method="POST">
            <legend>Start Date</legend>
            <p>Enter the date that you recieved your paycheck.</p>
            <label for="startDate">Start Date</label>
            <input autocomplete="off" placeholder="MM/DD/YYYY" style="color: black;" type="text" name="startDate"
                id="startDate">

            <legend>Income</legend>
            <p>Enter the amount of your paycheck after taxes.</p>
            <label for="income">Income</label>
            <input autocomplete="off" placeholder="0.00" style="color: black;" type="text" name="income" id="income">

            <legend>Bills</legend>
            <p>Please enter the bills that you paid last payperiod, or if you didn't pay any bills last payperiod, then
                enter the bills you paid the payperiod before last payperiod</p>
            <label for="rent">Rent</label>
            <input autocomplete="off" placeholder="0.00" style="color: black;" type="text" name="rent" id="rent">

            <label for="phone">Phone</label>
            <input autocomplete="off" placeholder="0.00" style="color: black;" type="text" name="phone" id="phone">

            <label for="car">Car</label>
            <input autocomplete="off" placeholder="0.00" style="color: black;" type="text" name="car" id="car">


            <legend>End Date</legend>
            <p>Enter the date of the day before you recieve your next paycheck.</p>
            <label for="endDate">End Date</label>
            <input autocomplete="off" placeholder="MM/DD/YYYY" style="color: black;" type="text" name="endDate"
                id="endDate">

            <input type="submit" value="CREATE">
        </form>
    </body>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/sidenav.js"></script>
</body>

</html>