<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budge: home</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel=" stylesheet" href="/css/calendar.css">
</head>

<body>
    <h1>Home</h1>
    <!-- create new pay period -->
    <a href="/budgets/new"><button class="btn-large red waves-effect waves-light">NEW PAY PERIOD</button></a>

    <!-- pay period list w/ period details and overall details-->
    <table>
        <tr>
            <th>Pay Period</th>
            <th>Income</th>
            <th>Expenses</th>
            <th>Activity</th>
        </tr>
    </table>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/calendar.js"></script>
</body>

</html>