<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budge: login</title>
    <link rel='shortcut icon' type='image/png' href='/img/favicon.png' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <img class="logo" src="/img/header-logo-white.png" alt="budge logo">
            <h2 class="hero-subtitle">the bite-sized<br>budget companion</h2>
            <input class="input-field" type="text" name="" id="">
            <input type="password" name="" id="">
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>